#container {
    position: relative;
    height: 40vw;
    width: 40vw;
    background: url(img2.png) no-repeat;
    background-size: 100%;
    margin: auto;
}

#hour,
#min,
#sec {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
}

#min {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
}

#sec {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
}